.input-date {
    border:  #e5e5e5;
    border-radius: 5px;
}

.border-cus {
    border: solid #FABC3F !important;
}

.color-title {
    color: #FABC3F;
}

.input-date {
  border: #e5e5e5;
  border-radius: 5px;
}

