<div class="content-cen mb-3">
    <p>
        <button class="btn-cus btn btn-primary align-items-center" data-bs-toggle="collapse" href="#collapseExample"
            role="button" aria-expanded="false" aria-controls="collapseExample" (click)="toggleCollapse()">
            Extenstion
        </button>
    </p>
    <div class="collapse" id="collapseExample" [ngClass]="{ 'show': isCollapsed }">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">
                        <h3 class="fw-mediumbold">Thêm thành viên</h3>
                    </h5>
                </div>
                <div class="modal-body">
                    <p class="small">
                        Điền những thông tin về thành viên vào trong biểu mẫu này
                    </p>
                    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Tên thành viên</label>
                                    <input id="addName" type="text" class="form-control" placeholder="Ví dụ: Ku Béo..."
                                        name="name" [(ngModel)]="model.name" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Email</label>
                                    <input id="addPosition" type="email" class="form-control"
                                        placeholder="Ví dụ: kubeo@gmail.com" name="email" [(ngModel)]="model.email"
                                        required />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer border-0 d-flex justify-content-center">
                            <button type="submit" id="addRowButton" class="btn btn-primary">
                                Thêm thành viên
                            </button>
                            <!-- <button type="button" type="submit" class="btn btn-danger ms-2" data-dismiss="modal"
                                (click)="closeCollapse()">
                                Đóng
                            </button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>