<div class="repair-layout container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold">Sửa chữa vi vu</h3>
      <ul class="breadcrumbs">
        <li class="nav-home">
          <a href="#" title="home">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#" [routerLink]="['/sua-chua']">Làm việc</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#" [routerLink]="['/sua-chua']">Sửa chữa</a>
        </li>
      </ul>
    </div>
    <!-- Phần Chat -->
    <div class="chat-container">
      <div class="users-list">
        <h3>Người dùng</h3>
        <ul>
          <li *ngFor="let user of users" (click)="selectUser(user.id)">
            {{ user.fullName }} ({{ user.roles.join(', ') }})
          </li>
        </ul>
      </div>
      <div class="chat-box" *ngIf="selectedUserId">
        <h3>Cuộc trò chuyện với {{ getUserName(selectedUserId) }}</h3>
        <div class="messages">
          <div *ngFor="let msg of messages">
            <div [ngClass]="{'sent': msg.senderId === currentUser.id, 'received': msg.senderId !== currentUser.id}">
              <span>{{ msg.content }}</span>
              <small>{{ msg.sentAt | date:'short' }}</small>
            </div>
          </div>
        </div>
        <div class="input-box">
          <input [(ngModel)]="newMessage" placeholder="Type your message..." />
          <button (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>


</div>
