<!-- Sidebar -->
<div class="sidebar" data-background-color="dark2">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark2">
      <a href="index.html" class="logo">
        <!-- <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" /> -->
        <div class="logo-cus logo-font">ADMIN</div>
        <div class="new-year-icon">
          <img src="../../../../assets/icon/happy-new-year (1).png" alt="happy new year" width="80" />
        </div>
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar" title="Toggle Sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler" title="Toggle Sidebar">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more" title="Toggle Sidebar">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#" class="collapsed" aria-expanded="false"
            [routerLink]="['trang-chu-khach-hang']">
            <i class="fas fa-users"></i>
            <p>Trang khách hàng</p>
          </a>
          <a data-bs-toggle="collapse" href="#" class="collapsed" aria-expanded="false" [routerLink]="['nhan-tin']">
            <i class="fab fa-facebook-messenger"></i>
            <p>Nhắn tin test</p>
          </a>
        </li>


        <!-- Menu chỉ dành cho Admin -->
        <ng-container
          *ngIf="user !== undefined && (user?.roles?.includes('Admin') || (user?.roles?.includes('Employee')))">
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Admin</h4>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#" class="collapsed" aria-expanded="false" [routerLink]="['admin/home']">
              <i class="fas fa-home"></i>
              <p>Trang tổng quan (Admin)</p>
            </a>
          </li>
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Danh mục</h4>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#" class="collapsed" aria-expanded="false" [routerLink]="['admin/home']">
              <i class="fas fa-robot"></i>
              <p>AI Chat</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#" class="collapsed" aria-expanded="false" [routerLink]="['nhan-tin']">
              <i class="fab fa-facebook-messenger"></i>
              <p>Nhắn tin với khách hàng</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#forms">
              <i class="fas fa-pen-square"></i>
              <p>Làm việc</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="forms">
              <ul class="nav nav-collapse">
                <li>
                  <a href="#" [routerLink]="['admin/sua-chua']">
                    <!-- <i class="icon-settings"></i> -->
                    <span class="sub-item">Sửa chữa vi vu</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#base">
              <i class="fas fa-layer-group"></i>
              <p>Quản lý</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="base">
              <ul class="nav nav-collapse">
                <li>
                  <a href="#" [routerLink]="['admin/quan-ly-khach-hang']">
                    <span class="sub-item">Quản lý khách hàng</span>
                  </a>
                </li>
                <li>
                  <a href="#" [routerLink]="['admin/quan-ly-kho-hang']">
                    <span class="sub-item">Quản lý kho linh kiện</span>
                  </a>
                </li>
                <li>
                  <a href="components/gridsystem.html">
                    <span class="sub-item">Grid System</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <a href=""></a>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#submenu">
              <i class="fas fa-bars"></i>
              <p>Menu Levels</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="submenu">
              <ul class="nav nav-collapse">
                <li>
                  <a data-bs-toggle="collapse" href="#subnav1">
                    <span class="sub-item">Level 1</span>
                    <span class="caret"></span>
                  </a>
                  <div class="collapse" id="subnav1">
                    <ul class="nav nav-collapse subnav">
                      <li>
                        <a href="#">
                          <span class="sub-item">Level 2</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="sub-item">Level 2</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#subnav2">
                    <span class="sub-item">Level 1</span>
                    <span class="caret"></span>
                  </a>
                  <div class="collapse" id="subnav2">
                    <ul class="nav nav-collapse subnav">
                      <li>
                        <a href="#">
                          <span class="sub-item">Level 2</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">
                    <span class="sub-item">Level 1</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="button-music ms-5">
      <button class="btn btn-primary" (click)="playBackgroundMusic()" *ngIf="!isMusicPlaying">Bật nhạc nền <i
          class="fas fa-play"></i></button>
      <button class="btn btn-primary" (click)="onTurnOffMusic()" *ngIf="isMusicPlaying">Tắt nhạc nền <i
          class="fas fa-pause"></i></button>
    </div>
  </div>
</div>
<!-- End Sidebar -->